<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a983bd">  <td>17/08/11 16:33:45</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;EcashApiTestCases.AfterTest()[pri:0, instance:org.yatra.automation.TestScripts.EcashApiTestCases@69b0fd6f]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="a983bd">  <td>17/08/11 16:33:43</td>   <td>-2180</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EcashApiTestCases.BeforeClass()[pri:0, instance:org.yatra.automation.TestScripts.EcashApiTestCases@69b0fd6f]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="a983bd">  <td>17/08/11 16:33:43</td>   <td>-1886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EcashApiTestCases.verifyAuthCall()[pri:0, instance:org.yatra.automation.TestScripts.EcashApiTestCases@69b0fd6f]">verifyAuthCall</td> 
  <td>main@1075738627</td>   <td></td> </tr>
</table>
