<h2>Methods that were not run</h2><table>
<tr><td>org.yatra.automation.TestScripts.EcashApiTestCases.verifyCurrentEcash<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify Current Ecash from JSON Res</i></td></tr>
</table>