<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>org.yatra.automation.TestScripts.PaySwiftTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPaymentGatewayOfOtherNetBankingSubOptions</td>
<td>TestAllNBAndWalletOptions </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyAtmAllOptions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNetBankingSingleOption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyEzeClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyEcashRedemption</td>
<td>TestEcash </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCashCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmiOptions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCreditCardTransaction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyMaestroCardWithCVV</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAllMobileWalletOptions</td>
<td>TestAllNBAndWalletOptions </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyRewards</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyPaymentGatewayOfMajorNetBankingSubOptions</td>
<td>TestAllNBAndWalletOptions </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyMaestroWithoutCVV</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyMobileWaletSigleOption</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMtethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
