<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adede5">  <td>17/04/21 17:16:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.VerifyEzeClick()[pri:10, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">VerifyEzeClick</td> 
  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:16:56</td>   <td>30838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.VerifyRewards()[pri:11, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">VerifyRewards</td> 
  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:17:05</td>   <td>39354</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterClass()[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:11:46</td>   <td>-279215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:12:22</td>   <td>-242993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:13:15</td>   <td>-190005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:13:47</td>   <td>-158018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:14:23</td>   <td>-122748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:14:54</td>   <td>-91776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:15:31</td>   <td>-54075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:15:58</td>   <td>-27121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:16:29</td>   <td>3608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:17:05</td>   <td>39354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterMtethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&lt;&lt;afterMtethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:11:00</td>   <td>-325310</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeClass()[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@1137545151</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:11:07</td>   <td>-318544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:11:46</td>   <td>-279212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:12:22</td>   <td>-242992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:13:15</td>   <td>-190002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:13:47</td>   <td>-158016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:14:23</td>   <td>-122747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:14:54</td>   <td>-91775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:15:31</td>   <td>-54074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:15:58</td>   <td>-27120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:16:29</td>   <td>3608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod(java.lang.reflect.Method)[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:15:58</td>   <td>-27314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.verifyAtmAllOptions()[pri:9, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">verifyAtmAllOptions</td> 
  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:15:21</td>   <td>-64570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.verifyCashCard()[pri:8, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">verifyCashCard</td> 
  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:11:39</td>   <td>-286811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.verifyCreditCardTransaction()[pri:2, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">verifyCreditCardTransaction</td> 
  <td>pool-1-thread-1@1137545151</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:14:15</td>   <td>-130757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.verifyEmiOptions()[pri:6, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">verifyEmiOptions</td> 
  <td>pool-1-thread-5@943114484</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:12:13</td>   <td>-252654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.verifyMaestroCardWithCVV()[pri:3, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">verifyMaestroCardWithCVV</td> 
  <td>pool-1-thread-2@1668520162</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:12:50</td>   <td>-215719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.verifyMaestroWithoutCVV()[pri:4, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">verifyMaestroWithoutCVV</td> 
  <td>pool-1-thread-3@697112618</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:14:49</td>   <td>-96226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.verifyMobileWaletSigleOption()[pri:7, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">verifyMobileWaletSigleOption</td> 
  <td>pool-1-thread-5@943114484</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/04/21 17:13:42</td>   <td>-163048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.verifyNetBankingSingleOption()[pri:5, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@cd2dae5]">verifyNetBankingSingleOption</td> 
  <td>pool-1-thread-4@151147317</td>   <td></td> </tr>
</table>
