<h2>Methods that were not run</h2><table>
<tr><td>org.yatra.automation.TestScripts.PaySwiftTestCases.verifyPaymentGatewayOfOtherNetBankingSubOptions</td></tr>
<tr><td>org.yatra.automation.TestScripts.PaySwiftTestCases.verifyAllMobileWalletOptions</td></tr>
<tr><td>org.yatra.automation.TestScripts.PaySwiftTestCases.verifyEcashRedemption<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Ecash Redemption and cancel ecash redemption</i></td></tr>
<tr><td>org.yatra.automation.TestScripts.PaySwiftTestCases.verifyPaymentGatewayOfMajorNetBankingSubOptions</td></tr>
</table>