<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SAPG Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67c1fc">  <td>16/12/18 13:22:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterClass()[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@148080bb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2106620844</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>16/12/18 13:21:46</td>   <td>-25046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterTest()[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@148080bb]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@2106620844</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>16/12/18 13:22:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaySwiftTestCases.afterTest()[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@148080bb]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@2106620844</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>16/12/18 13:21:20</td>   <td>-50796</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeClass()[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@148080bb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2106620844</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>16/12/18 13:21:24</td>   <td>-46785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod()[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@148080bb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2106620844</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>16/12/18 13:21:46</td>   <td>-25045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaySwiftTestCases.beforeMethod()[pri:0, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@148080bb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2106620844</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>16/12/18 13:22:02</td>   <td>-9224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.creditCardTransaction()[pri:2, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@148080bb]">creditCardTransaction</td> 
  <td>main@2106620844</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>16/12/18 13:21:46</td>   <td>-25334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaySwiftTestCases.ecashRedeem()[pri:1, instance:org.yatra.automation.TestScripts.PaySwiftTestCases@148080bb]">ecashRedeem</td> 
  <td>main@2106620844</td>   <td></td> </tr>
</table>
